.Inicio-layout {
    display: grid;
    grid-template-columns: auto auto;
    height: 90vh;
    overflow: hidden;

}

.Inicio-indice {
    background-color: var(--celesteclaro);
    text-align: left;
    overflow-y: scroll;
}

.Inicio-detalle {
    text-align: center;
    overflow-y: scroll;
}

@media (max-width: 600px) {
    .Inicio-indice {
        display: none;
    }
}