.Inicio-grid {
    display: grid;
    grid-template-areas: 
        'idx det det det det det'
        'pie pie pie pie pie pie';
        grid-column-gap: 10px;
}

.Inicio-indice {
    grid-area: idx;
<<<<<<< HEAD
    background-color: rgb(242, 242, 242, 1));
=======
    background-image: linear-gradient(to left, var(--verdeagua), var(--lila));
>>>>>>> b7e7196938631d6f722bb11105b885d379429b54
    padding: 10px;
    text-align: left;
}

.Inicio-detalle {
    grid-area: det;
}

.Inicio-pie {
    grid-area: pie;
    display: flex;
    justify-content: space-evenly;
<<<<<<< HEAD
    background-color: rgb(13, 13, 13, 1);
=======
    color: var(--amarillo);
    background-color: var(--grisoscuro);
>>>>>>> b7e7196938631d6f722bb11105b885d379429b54
}

@media (max-width: 600px) {
    .Inicio-grid {
        grid-template-areas: 
        'idx idx idx idx idx idx'
        'det det det det det det'
        'pie pie pie pie pie pie';
    }
}