.TemasLista-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blanco);
    color: var(--negro);
    margin: 6px;
    padding: 6px;
  }

.TemasLista-fila {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4px;

}

.TemasLista-muestra {

    height: 40px;
    line-height: 40px;

}

.TemasLista-btn {
    height: 40px;
    border-radius: 4px;
    display: inline-block;
    width: auto;
}