.TemasLista-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blanco);
    color: var(--negro);
    padding: 6px;
  }

.TemasLista-fila {
    display: flex;
    align-items: center;
    padding: 4px;
}

.TemasLista-muestra {
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.TemasLista-btn {
    height: 40px;
    border-radius: 4px;
    display: inline-block;
    width: auto;
    text-align: center;
    cursor: pointer;
}