.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  position:fixed;
  width: 100%;
  padding: 2px;
  font-size: 18px;
  background-image: linear-gradient(var(--lila), var(--violeta))
}
.App-logo {
  display: flex;
  flex-direction: row;
  float: left;
}

.App-logo a {
  font-size: 18px;
  color: var(--grisoscuro);
  padding: 6px;
  font-weight: bold;
  text-decoration: none;
}
.App-logo a:hover {
  background-color: var(--rosapiel);
}
.App-menu {
  float: right;
  margin: 5px;
  
}
.btn-menu {
  background-color: var(--rosa);
  color: var(--grisoscuro);
  text-align: justify;

  padding: 6px;
  text-decoration: none;
  font-size: 20px; 
  margin: 4px;
}
.btn-menu:hover {
  background-color: var(--cian);
}

.App-cuerpo {
  margin-top: 40px;
  text-align: center;
}

/* Responsive layout */
@media (max-width: 600px) {
  .App-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .App-menu {
    display: flex;
    flex-direction: column;
  }
  .App-logo {
    display: none;
  }
}