.App {

}

.App-header {
  display: flex;
  justify-content: space-between;
}

.App-hea-izq {
  display: flex;
}
.App-hea-med {
 display: flex;
}
.App-hea-der {
  display: flex;

}

.App-hea-btn {
  font-size: 3vh;
  display: flex;
  align-items: center;
  border-radius: .4vw;
  padding: 2vh;
  margin: .5vw;
  text-decoration: none;
}

.App-hea-btn:hover {
  font-weight: bold;
  background-image: linear-gradient(var(--test1), var(--test2));
}

button {
  cursor: pointer;
  border: none;
}



/* Responsive layout */
@media (max-width: 500px) {
  .App-logo {
    display: none;
  }
}

@media (max-width: 1000px) {
  .btn-txt {
    display: none;
  }

}