.App {


}

.App-header {
  display: flex;
  justify-content: space-between;
}

.App-hea-izq {

}
.App-hea-med {
  display: flex;
}
.App-hea-der {

}

.App-hea-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: .2rem;
  padding: .6rem;
  margin: .1rem;
}

.App-hea-btn:hover {
  font-weight: bold;
  background-image: linear-gradient(var(--test1), var(--test2));
}

.App-menu-btn {
  position: fixed;
  border-radius: .1rem .1rem 1rem;
}
.App-user-btn {
  border-radius: .1rem .1rem .1rem 1rem;
}
.App-logo {
  position: relative;
  left: 50px;
}
.nav-izq {
  position: fixed;
  top: 7vh;
  text-align: left;
  height: 90%;
  width: 33%;
  overflow-y: scroll;
  background-color: var(--grisclaro);
}

/* Responsive layout */
@media (max-width: 500px) {
  .App-logo {
    display: none;
  }
  .App-hea-med {
    position: relative;
    left: 24px;
  }
}

@media (max-width: 1000px) {
  .App-hea-btn {
    font-size: 1.6rem;
  }
  .btn-txt {
    display: none;
  }

}