body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --amarillo: #cc4;
  --amarilloclaro: #cc8;
  --azul: #44c;
  --bordo: #844;
  --celeste: #48c;
  --celestito: #8cc;
  --cian: #4cc;
  --grisclaro: #ccc;
  --gris: #888;
  --grisoscuro: #444;
  --lila: #88c;
  --lilaoscuro: #448;
  --magenta: #c4c;
  --mostaza: #884;
  --naranja: #c84;
  --rojo: #c44;
  --rosa: #c8c;
  --rosaoscuro: #c48;
  --rosapiel: #c88;
  --uva: #848;
  --verde: #4c4;
  --verdefluo: #8c4;
  --verdeagua: #4c8; 
  --verdeazul: #488;
  --verdeclaro: #8c8;
  --verdeoscuro: #484;
  --violeta: #84c;
  --test: rgba(44, 88, 44, 0.6);
}