body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*08f
  48c*/
:root {
  --amarillo: #cc4;
  --amarilloclaro: #ff8;
  --azul: #44c;
  --bordo: #844;
  --celeste: #08f;
  --celesteclaro: #8ff;
  --cian: #4cc;
  --grisclaro: #ccc;
  --gris: #888;
  --grisoscuro: #444;
  --lila: #88c;
  --lilaoscuro: #448;
  --magenta: #c4c;
  --mostaza: #880;
  --naranja: #f80;
  --rojo: #c44;
  --rosa: #c8c;
  --rosaclaro: #f88;
  --rosaoscuro: #c48;
  --uva: #848;
  --verde: #4c4;
  --verdefluor: #8f0;
  --verdeagua: #4c8; 
  --verdeazul: #088;
  --verdeclaro: #8f8;
  --verdeoscuro: #080;
  --violeta: #84c;
  --verde1: #ABD904;
  --verde2: #6E8C03;
  --verde3:#A9BF04;
  --blanco1:#F2F2F2;
  --negro1:#0D0D0D;
  --amarillo1:#FFFC99;
  --test: rgba(222, 88, 44, 0.6);
  --test2: rgba(171, 196, 4, 0.9);
}